body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e9e6ad;
}

header {
  background-color: #fff;
  padding: 20px;
  text-align: left;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

h1 {
  font-size: 24px;
  margin: 0;
}

.subtitle {
  font-size: 16px;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
}

nav a.nav-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

nav a.nav-link:hover {
  background-color: #333;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin-top: -250px; 
  margin-right: 80px;
  margin-bottom: auto;
  margin-left: 120px;
  padding: 50px;
  position: relative;
}

.svg-title {
  font-size: 18px; 
  position: absolute;
  top: 25%; 
  left: 20%; 
  transform: translate(-50%, -50%);
}

.svg-container {
  flex: 1; 
}

.legend-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.legend-container h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.legend-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.legend-item .color-square {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
}

.rua1 .color-square {
  background-color: #c2c734;
}

.rua2 .color-square {
  background-color: rgb(45, 187, 104);
}

.rua3 .color-square {
  background-color: #eb376d;
}

.rua4 .color-square {
  background-color: rgb(67, 239, 40);
}

.rua5 .color-square {
  background-color: #686f99;
}
.svg-container svg {
  width: 100%;
  z-index: 1;
}

  .rua1 {
    fill: #686f99;
  }
  .rua2 {
    fill: #c2c734;
  }
  .rua3 {
    fill: rgb(45, 187, 104);
  }
  .rua4 {
    fill: #eb376d;
  }
  .rua5 {
    fill: rgb(67, 239, 40);
  }
  path {
    fill: #1da1f2;
    stroke: white;
    stroke-width: 1px;
  }
  path:hover {
    fill: rgb(128, 0, 0);
    stroke: red;
    stroke-width: 3px;
    transition: fill 0.4s;
  }
  .tooltip {
    pointer-events: none;
    position: absolute;
    font-size: 18px;
    text-align: center;
    background: white;
    padding: 10px 15px;
    z-index: 5;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    color: #21669e;
    border-radius: 5px;
    transform: translateX(-50%);
    display: none;
  }
  .tooltip.active {
    display: block;
  }
  .tooltip:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
  }